.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.img-fluid {
  /* Conserve la classe img-fluid pour la responsivité de base */
  /* ... autres styles de la classe img-fluid */

  /* Définir une nouvelle taille (exemple en pixels) */
  width: 500px;
  /* Augmente la largeur à 150 pixels */
  height: 500px;
  /* Conserve la proportion de l'image (très recommandé) */

  /* OU si vous voulez une taille relative au conteneur */
  /* width: 10%; */
}