.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.img-fluid {

  width: 500px;

  height: 500px;

}




.custom-input:focus {
  background-color: rgba(255, 255, 255, 0.1) !important;
  border-color: #be50f4 !important;
  box-shadow: 0 0 10px rgba(199, 112, 254, 0.5) !important;
  outline: none !important;
}


/* Force la section contact à prendre toute la hauteur pour bloquer le footer en bas */
#contact {
  min-height: 100vh !important;
  padding-bottom: 50px !important;
}

/* Désactive toute interaction avec les particules (le clic passera à travers) */
#tsparticles,
.particles-js-canvas-el,
canvas {
  pointer-events: none !important;
  z-index: -1 !important;
}

/* Style pour s'assurer que les inputs sont bien visibles et cliquables */
.custom-input {
  background-color: rgba(255, 255, 255, 0.05) !important;
  border: 1px solid #c770fe !important;
  color: white !important;
  position: relative !important;
  z-index: 100 !important;
  /* Très élevé */
  pointer-events: auto !important;
  /* Force la réactivation du clic */
}

/* Correction pour le bouton */
.fork-btn-inner {
  position: relative !important;
  z-index: 100 !important;
  pointer-events: auto !important;
}

.custom-input {
  background-color: transparent;
  color: #cfa9ff;
  /* ta couleur violette */
  border: 1px solid #9b59ff;
}

.custom-input::placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
  /* Blanc à 50% d'opacité */
  opacity: 1;
  /* Nécessaire pour Firefox */
}

/* Optionnel : couleur quand on clique dans le champ */
.custom-input:focus::placeholder {
  color: rgba(255, 255, 255, 0.3) !important;
}

/* Quand on clique dedans */
.custom-input:focus {
  background-color: transparent;
  color: #cfa9ff;
  border-color: #cfa9ff;
  box-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-text-fill-color: white !important;
  /* Couleur du texte */
  -webkit-box-shadow: 0 0 0px 1000px #1a1421 inset !important;
  /* Couleur de fond de ton thème */
  transition: background-color 5000s ease-in-out 0s;
  border: 1px solid #c770fe !important;
}

.my-swal-popup {
  border: 1px solid #c770fe !important;
  border-radius: 15px !important;
  box-shadow: 0 0 20px rgba(199, 112, 254, 0.2) !important;
}